{% extends "base.html" %}
{% from "_jinja_helpers.html" import render_field %}
{% from "_jinja_helpers.html" import render_button %}
{% from "_jinja_helpers.html" import flash_messages %}
{% block body %}
    <div class="container my-container d-flex align-items-center justify-content-center">
        <form action="" method="POST">
            <div class="row">{{ flash_messages() }}</div>
            {{ form.hidden_tag() }}
            {% if current_user.is_authenticated %}
                <div class="form-group"> {{ render_field(form.username, class="form-control", autofocus="autofocus", type="hidden") }}</div>
            {% else %}
                <div class="form-group"> {{ render_field(form.username, class="form-control", autofocus="autofocus") }}</div>
            {% endif %}
            <div class="form-group">
                {{ render_field(form.password, class="form-control") }}
                <div class="row">
                    <div class="col text-right">
                        <small><a href="{{ url_for('user.reset_password') }}">Forgot Password ?</a></small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row align-items-center">
                    <div class="col-1">{{ form.remember_me }}</div>
                    <div class="col-6">{{ form.remember_me.label(class="small") }}</div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_button(form.submit, class="btn btn-md btn-block") }}
                    </div>
                </div>
                <div class="row justify-content-center align-items-center my-2">
                    <small class="text-muted">Need an account ? <a href="{{ url_for('user.signup') }}">Sign up</a>
                    </small>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
