" Ensure the file doesn't have leading whitespaces

set gdefault                      " substitute all occurrences in line per default
set history=10000                  " keep x lines of command line history
set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set ideajoin                     "join lines by removing spaces"
set incsearch                     " show search results while typing
set relativenumber
set wrapscan                      " searches wrap around the end of the file
set number                        " line numbers
set scrolloff=5 sidescrolloff=10  " keep some lines before and after the cursor visible
set clipboard=unnamedplus,unnamed " integrate with system clipboard
set clipboard+=ideaput

" Ideavim Plugins
set surround
set commentary

let mapleader=" "

" Navigate properly when lines are wrapped
nnoremap j gj
nnoremap k gk

nnoremap H g_
nnoremap L _
nnoremap Y y$

" Keep a block highlighted while shifting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

"--- Copy/Paste to system register
nnoremap <Leader>y "*yy
nnoremap <Leader>p "*p

nnoremap <silent> <Esc> <Esc>:nohlsearch<CR><Esc>

:command W w
:command Q q
:command WQ wq

"Pycharm specific stuff
" see all actions with :actionlist
"Move tabs down and right/ Create splits
nnoremap <a--> :action MoveTabDown<CR>
nnoremap <a-\> :action MoveTabRight<CR>
nnoremap <a-=> :action Unsplit<CR>
inoremap <a--> <ESC>:action MoveTabDown<CR>
inoremap <a-\> <ESC>:action MoveTabRight<CR>
inoremap <a-=> <ESC>:action Unsplit<CR>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>re :action RenameElement<cr>
nnoremap <leader>rf :action RenameFile<cr>

" nnoremap <leader>bb :action ToggleLineBreakpoint<cr>
" nnoremap <leader>br :action ViewBreakpoints<cr>
" nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>rr :action Run<cr>

nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gf :action GotoFile<cr>

nnoremap + :action EditorIncreaseFontSize<CR>
nnoremap - :action EditorDecreaseFontSize<CR>
nnoremap = :action EditorResetFontSize<CR>

inoremap <C-Up> <ESC>:action EditorCloneCaretAbove<cr>a
inoremap <C-Down> <ESC>:action EditorCloneCaretBelow<cr>a
nnoremap <leader>, :action CloseEditor<CR>
" nnoremap <leader>qq :action CloseAllEditors<CR>
